.idea/*
server_utils/db_driver/cred
venv/
*_pids.txt
scrapers/chromedriver.exe
__pycache__
*/integration/server_api_build/
*/integration/scapres/
*/integration/scheduler/
*/integration/nlp_models/
*.tar
*/integration/image_id.txt
backup/
git_db/api-data/